{
  "openapi": "3.0.3",
  "info": {
    "title": "API FE DOM",
    "description": "API Alanube Proveedor Electrónico República Dominicana",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandbox.alanube.co/dom/v1/",
      "description": "Sandbox Server"
    },
    {
      "url": "https://api.alanube.co/dom/v1/",
      "description": "Production Server"
    }
  ],
  "tags": [
    {
      "name": "Empresas",
      "description": "Endpoints para la gestión de Empresas.",
      "externalDocs": {
        "url": "https//e-dom.alanube.com/empresas"
      }
    },
    {
      "name": "Certificación",
      "description": "Endpoints para el proceso de certificación"
    },
    {
      "name": "Facturas electrónicas",
      "description": "Endpoints para la emisión y consulta de Facturas electrónicas"
    },
    {
      "name": "Notas electrónicas",
      "description": "Endpoints para la emisión y consulta de notas electónicas"
    },
    {
      "name": "Compras y gastos electrónicos",
      "description": "Endpoints para la emisión y consulta de compras y gastos electrónicos"
    },
    {
      "name": "Anulaciones",
      "description": "Endpoint para anulaciones"
    },
    {
      "name": "Buzón de documentos electrónicos",
      "description": "Endpoints para la recepción de Documentos Electrónicos y Aprobaciones Comerciales"
    },
    {
      "name": "Gestión de Documentos Recibidos",
      "description": "Endpoints para la gestión de documentos recibidos"
    },
    {
      "name": "Aprobaciones Comerciales",
      "description": "Endpoints para la generación y consulta de Aprobaciones Comerciales"
    },
    {
      "name": "Gestión de acuses de recibo externos",
      "description": "Endpoints para la gestión de acuses de recibo que fueron generados por un proveedor externo; es decir, al momento en que algún usuario de alanube envió un documento a un comprador (habilitado como contribuyente electrónico) y este comprador respondió con un acuse de recibo"
    },
    {
      "name": "Gestión de acuses de recibo internos",
      "description": "Endpoints para la gestión de acuses de recibo que fueron generados por alanube; es decir, al momento en que algún usuario de alanube envió un documento a un comprador (habilitado como contribuyente electrónico) y este comprador respondió con un acuse de recibo"
    },
    {
      "name": "Directorio y estado",
      "description": "Endpoints para obtener el directorio de las compañías y el estado del servicio de la dgii"
    },
    {
      "name": "Reportes",
      "description": "Endpoints para obtener reportes y estadísticas de documentos electrónicos"
    }
  ],
  "paths": {
    "/company": {
      "post": {
        "summary": "Dar de alta a una empresa",
        "description": "Este endpoint permite dar de alta empresas en la API con las configuraciones necesarias para enviar documentos a la DGII",
        "operationId": "createCompany",
        "tags": [
          "Empresas"
        ],
        "requestBody": {
          "description": "Objeto JSON con la información de la empresa",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "tradeName",
                  "identification",
                  "address",
                  "province",
                  "municipality",
                  "certificate"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nombre/Razón social de la empresa",
                    "example": "Mi compañía"
                  },
                  "tradeName": {
                    "type": "string",
                    "description": "Nombre comercial",
                    "example": "Mi compañía S.A"
                  },
                  "identification": {
                    "type": "string",
                    "description": "Identificación de la empresa",
                    "example": "12345678",
                    "pattern": "^[0-9]{9}$|^[0-9]{11}$"
                  },
                  "type": {
                    "type": "string",
                    "description": "Tipo de empresa",
                    "enum": [
                      "main",
                      "associated"
                    ]
                  },
                  "address": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Dirección de la compañía",
                    "example": "30 De Marzo 9 Sd"
                  },
                  "province": {
                    "type": "string",
                    "description": "Provincia donde está situada la compañía",
                    "example": "Santo domingo"
                  },
                  "municipality": {
                    "type": "string",
                    "description": "Municipio donde está situada la compañía",
                    "example": "30 De Marzo 9 Sd"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 80,
                    "description": "Correo electrónico de la compañía",
                    "example": "alanube@example.com"
                  },
                  "certificate": {
                    "type": "object",
                    "description": "Objeto que contiene la información del certificado",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nombre del archivo",
                        "example": "certificado digital"
                      },
                      "extension": {
                        "type": "string",
                        "description": "Extensión del archivo",
                        "example": "pfx"
                      },
                      "content": {
                        "type": "string",
                        "format": "byte",
                        "description": "Archivo de certificado en base 64",
                        "example": "MIIdAgIBAzCCHMgGCSqGSIb3DQEHAaCCHLkEghy1.....A="
                      },
                      "password": {
                        "type": "string",
                        "description": "Contraseña del certificado",
                        "example": "sEcR3T"
                      }
                    },
                    "required": [
                      "name",
                      "extension",
                      "content",
                      "password",
                      "address",
                      "municipality",
                      "province"
                    ]
                  },
                  "webhooks": {
                    "type": "object",
                    "description": "Objeto que contiene la información de los webhooks configurados para la empresa.\n\n### Notas\n\n- Para conocer de forma general como funcionan los webhooks puedes consultar la documentación en el siguiente [enlace](https://dash.readme.com/project/e-api-a-la-nube-dom/v1.0-DOM/docs/webhooks)\n- Estaremos enviando un POST request al webhook proporcionado por ustedes con el fin de verificar su funcionamiento. El body que pasaremos a su endpoint será: `{message: 'Test message'}`. En caso de detectar errores HTTP o de red, se lo comunicaremos en nuestra respuesta HTTP\n- Si aún no dispones de un webhook, puedes omitir esta configuración inicialmente y continuar con la creación de tu compañía.\n  - La configuración de webhook se puede completar o modificar más adelante actualizando los detalles de tu compañía.\n",
                    "properties": {
                      "general": {
                        "type": "object",
                        "description": "Objeto con información de webhooks generales",
                        "properties": {
                          "governmentStatusChanged": {
                            "type": "object",
                            "description": "Objeto con la información para el webhook que se dispara cuando cambia el estado de la compañía ante la DGII",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "Url a la cual notificará el webhook",
                                "example": "https://mi-compania.com/api/v1/update-company"
                              },
                              "headers": {
                                "type": "object",
                                "description": "Objeto con headers personalizados que serán enviados en el request al webhook configurado",
                                "example": {
                                  "Authorization": "Bearer tokendeautenticacion"
                                }
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "active",
                                  "inactive"
                                ],
                                "example": "active"
                              }
                            }
                          }
                        }
                      },
                      "documents": {
                        "type": "object",
                        "description": "Objeto con información de webhooks relacionado con documentos",
                        "properties": {
                          "emissionFinished": {
                            "type": "object",
                            "description": "Objeto con la información para el webhook que se dispara cuando finaliza el proceso de un documento electrónica",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "Url a la cual notificará el webhook",
                                "example": "https://mi-compania.com/api/v1/update-document"
                              },
                              "headers": {
                                "type": "object",
                                "description": "Objeto con headers personalizados que serán enviados en el request al webhook configurado",
                                "example": {
                                  "Authorization": "Bearer tokendeautenticacion"
                                }
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "active",
                                  "inactive"
                                ],
                                "example": "active"
                              },
                              "auth": {
                                "type": "object",
                                "description": "Mecanismo para solicitar headers de configuración antes de enviar datos al webhook principal.\n\n### Caso de uso\n\nSu webhook principal necesita de un token de autenticación para poder ser invocado y este mismo solamente puede ser obtenido a traves de este endpoint de autenticación.\n\n### Notas\n\n- Se debe proveer todos los detalles necesarios para la correcta invocación, como propiedades para el body (POST), headers requeridos, etc.\n- Nosotros intentaremos un reenvío a sus webhooks si obtenemos alguna de los siguientes estados de respuesta del mismo:\n  - Unauthorized errors (401 & 403)\n    - (IMPORTANTE) Este solo aplica para el endpoint principal en caso de tener un auth-endpoint configurado.\n    - Refrescaremos el token desde el endpoint de autenticación y reintentaremos la solicitud.\n    - Si volvemos a obtener un 401 | 403, nos daremos por vencidos.\n  - Server errors (5xx)\n  - Network errors (timeout, dns, etc)\n",
                                "properties": {
                                  "status": {
                                    "type": "string",
                                    "enum": [
                                      "active",
                                      "inactive"
                                    ],
                                    "example": "active"
                                  },
                                  "url": {
                                    "type": "string",
                                    "example": "https://mi-compania.com/api/v1/auth-webhook"
                                  },
                                  "headersRequest": {
                                    "type": "object",
                                    "description": "Objeto con headers personalizados que serán enviados en el request a este auth-endpoint",
                                    "example": {
                                      "Authorization": "Bearer tokendeautenticacion"
                                    }
                                  },
                                  "body": {
                                    "type": "object",
                                    "description": "Objeto con información que será enviada en el body del request a este auth-endpoint",
                                    "example": {
                                      "status": "active"
                                    }
                                  },
                                  "headersResponse": {
                                    "type": "object",
                                    "description": "Configuración de los encabezados esperados en la respuesta del auth-endpoint.\nSe determinará qué encabezados serán utilizados para la solicitud al webhook principal\n",
                                    "properties": {
                                      "fields": {
                                        "type": "array",
                                        "description": "Lista de encabezados (headers) que se emplearán en la solicitud al webhook principal.\nEstos encabezados serán obtenidos de la respuesta de los encabezados del auth-endpoint\n",
                                        "items": {
                                          "type": "string"
                                        },
                                        "example": [
                                          "jwt"
                                        ]
                                      },
                                      "cache": {
                                        "type": "object",
                                        "description": "Objeto con información de cache para el auth-endpoint",
                                        "properties": {
                                          "status": {
                                            "type": "string",
                                            "enum": [
                                              "active",
                                              "inactive"
                                            ]
                                          },
                                          "ttl": {
                                            "type": "integer",
                                            "description": "Tiempo de vida de los headers en `segundos`.\nAl especificar un valor, se almacenará en caché la respuesta del auth-endpoint por el tiempo especificado.\nPor lo tanto, no se volverá a invocar el auth-endpoint hasta que el tiempo de vida expire.\n",
                                            "example": 3600
                                          }
                                        },
                                        "required": [
                                          "status",
                                          "ttl"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "fields"
                                    ]
                                  }
                                },
                                "required": [
                                  "status",
                                  "url"
                                ]
                              }
                            },
                            "required": [
                              "url"
                            ]
                          },
                          "cancellations": {
                            "type": "object",
                            "description": "Objeto con la información para el webhook que se dispara cuando finaliza el proceso de anulaciones",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "Url a la cual notificará el webhook",
                                "example": "https://mi-compania.com/api/v1/save-cancellation-info"
                              },
                              "headers": {
                                "type": "object",
                                "description": "Objeto con headers personalizados que serán enviados en el request al webhook configurado",
                                "example": {
                                  "Authorization": "Bearer tokendeautenticacion"
                                }
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "active",
                                  "inactive"
                                ],
                                "example": "active"
                              }
                            },
                            "required": [
                              "url"
                            ]
                          },
                          "reception": {
                            "type": "object",
                            "description": "Objeto con la información para el webhook que se dispara cuando se recibe un documento o se genera una aprobación comercial",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "Url a la cual notificará el webhook",
                                "example": "https://mi-compania.com/api/v1/reception-event"
                              },
                              "headers": {
                                "type": "object",
                                "description": "Objeto con headers personalizados que serán enviados en el request al webhook configurado",
                                "example": {
                                  "Authorization": "Bearer tokendeautenticacion"
                                }
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "active",
                                  "inactive"
                                ],
                                "example": "active"
                              }
                            },
                            "required": [
                              "url"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "notificationByEmail": {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "description": "Indica si la compañía tiene habilitada o no la notificación por mail hacia el receptor de un comprobante electrónico (cuando es aceptado por DGII). Por defecto, no se encuentra habilitada."
                      },
                      "message": {
                        "type": "string",
                        "maxLength": 300,
                        "description": "Cuando la notificación por mail esté habilitada, se añadirá el mensaje configurado al final del correo enviado. No es obligatorio configurar mensaje extra alguno."
                      }
                    },
                    "required": [
                      "enabled"
                    ]
                  },
                  "logo": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Imagen del logo en `base64` a incluir en todos los documentos PDF.\nConsideraciones:\n- El tamaño máximo de la imagen es de 150 KB.\n- Si un documento es creado con un logo, este siempre mostrará ese logo. Si el logo es actualizado posteriormente, los documentos creados anteriormente no serán actualizados para mostrar el nuevo logo. Por lo tanto, se recomienda crear documentos con un logo solo después de haber cargado y establecido el logo final.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Objeto que representa la respuesta que contiene la información de una empresa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "company": {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "01FVK1KD4581EF7CCK7TX55420"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Nombre/Razón social de la empresa",
                              "example": "Mi compañía"
                            },
                            "tradeName": {
                              "type": "string",
                              "description": "Nombre comercial",
                              "example": "Mi compañía S.A"
                            },
                            "identification": {
                              "type": "string",
                              "description": "Identificación de la empresa",
                              "example": 12345678,
                              "pattern": "^[0-9]{9}$|^[0-9]{11}$"
                            },
                            "type": {
                              "type": "string",
                              "description": "Tipo de empresa",
                              "enum": [
                                "main",
                                "associated"
                              ]
                            },
                            "address": {
                              "type": "string",
                              "description": "Dirección de la compañía",
                              "example": "30 De Marzo 9 Sd"
                            },
                            "province": {
                              "type": "string",
                              "description": "Provincia donde está situada la compañía",
                              "example": "Santo domingo"
                            },
                            "municipality": {
                              "type": "string",
                              "description": "Municipio donde está situada la compañía",
                              "example": "30 De Marzo 9 Sd"
                            },
                            "email": {
                              "type": "string",
                              "format": "email",
                              "maxLength": 80,
                              "description": "Correo electrónico de la compañía",
                              "example": "alanube@example.com"
                            },
                            "companyUrls": {
                              "type": "object",
                              "description": "Urls necesarias para el proceso de certificación y las cuales serán registradas en la DGII para la recepción de documentos",
                              "properties": {
                                "reception": {
                                  "type": "string",
                                  "description": "Url de reception",
                                  "example": "https://almost.alanube.co/dom/v1/01FVJ1528AQRBC7D6K2TGVE5S5"
                                },
                                "approval": {
                                  "type": "string",
                                  "description": "URL de aprobación comercial",
                                  "example": "https://almost.alanube.co/dom/v1/01FVJ1528AQRBC7D6K2TGVE5S5"
                                },
                                "authentication": {
                                  "type": "string",
                                  "description": "URL de autenticación",
                                  "example": "https://almost.alanube.co/dom/v1/01FVJ1528AQRBC7D6K2TGVE5S5"
                                }
                              }
                            },
                            "certificate": {
                              "type": "object",
                              "description": "Objeto que contiene la información del certificado en respuestas",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Nombre del archivo",
                                  "example": "certificado digital"
                                },
                                "extension": {
                                  "type": "string",
                                  "description": "Extensión del archivo",
                                  "example": "pfx"
                                },
                                "issuerName": {
                                  "type": "string",
                                  "description": "Información del proveedor del certificado",
                                  "example": "emailAddress = info@andesscd.com.co, CN = CA ANDES SCD S.A. Clase II, OU = Division de certificacion entidad final, O = Andes SCD.,"
                                },
                                "startDate": {
                                  "type": "string",
                                  "format": "date-time",
                                  "example": "2019-05-28 15:36:00"
                                },
                                "endDate": {
                                  "type": "string",
                                  "format": "date-time",
                                  "example": "2019-05-28 15:36:00"
                                }
                              }
                            },
                            "webhooks": {
                              "type": "object",
                              "description": "Objeto que contiene la información de los webhooks configurados para la empresa.\n\n### Notas\n\n- Para conocer de forma general como funcionan los webhooks puedes consultar la documentación en el siguiente [enlace](https://dash.readme.com/project/e-api-a-la-nube-dom/v1.0-DOM/docs/webhooks)\n- Estaremos enviando un POST request al webhook proporcionado por ustedes con el fin de verificar su funcionamiento. El body que pasaremos a su endpoint será: `{message: 'Test message'}`. En caso de detectar errores HTTP o de red, se lo comunicaremos en nuestra respuesta HTTP\n- Si aún no dispones de un webhook, puedes omitir esta configuración inicialmente y continuar con la creación de tu compañía.\n  - La configuración de webhook se puede completar o modificar más adelante actualizando los detalles de tu compañía.\n",
                              "properties": {
                                "general": {
                                  "type": "object",
                                  "description": "Objeto con información de webhooks generales",
                                  "properties": {
                                    "governmentStatusChanged": {
                                      "type": "object",
                                      "description": "Objeto con la información para el webhook que se dispara cuando cambia el estado de la compañía ante la DGII",
                                      "properties": {
                                        "url": {
                                          "type": "string",
                                          "description": "Url a la cual notificará el webhook",
                                          "example": "https://mi-compania.com/api/v1/update-company"
                                        },
                                        "headers": {
                                          "type": "object",
                                          "description": "Objeto con headers personalizados que serán enviados en el request al webhook configurado",
                                          "example": {
                                            "Authorization": "Bearer tokendeautenticacion"
                                          }
                                        },
                                        "status": {
                                          "type": "string",
                                          "enum": [
                                            "active",
                                            "inactive"
                                          ],
                                          "example": "active"
                                        }
                                      }
                                    }
                                  }
                                },
                                "documents": {
                                  "type": "object",
                                  "description": "Objeto con información de webhooks relacionado con documentos",
                                  "properties": {
                                    "emissionFinished": {
                                      "type": "object",
                                      "description": "Objeto con la información para el webhook que se dispara cuando finaliza el proceso de un documento electrónica",
                                      "properties": {
                                        "url": {
                                          "type": "string",
                                          "description": "Url a la cual notificará el webhook",
                                          "example": "https://mi-compania.com/api/v1/update-document"
                                        },
                                        "headers": {
                                          "type": "object",
                                          "description": "Objeto con headers personalizados que serán enviados en el request al webhook configurado",
                                          "example": {
                                            "Authorization": "Bearer tokendeautenticacion"
                                          }
                                        },
                                        "status": {
                                          "type": "string",
                                          "enum": [
                                            "active",
                                            "inactive"
                                          ],
                                          "example": "active"
                                        },
                                        "auth": {
                                          "type": "object",
                                          "description": "Mecanismo para solicitar headers de configuración antes de enviar datos al webhook principal.\n\n### Caso de uso\n\nSu webhook principal necesita de un token de autenticación para poder ser invocado y este mismo solamente puede ser obtenido a traves de este endpoint de autenticación.\n\n### Notas\n\n- Se debe proveer todos los detalles necesarios para la correcta invocación, como propiedades para el body (POST), headers requeridos, etc.\n- Nosotros intentaremos un reenvío a sus webhooks si obtenemos alguna de los siguientes estados de respuesta del mismo:\n  - Unauthorized errors (401 & 403)\n    - (IMPORTANTE) Este solo aplica para el endpoint principal en caso de tener un auth-endpoint configurado.\n    - Refrescaremos el token desde el endpoint de autenticación y reintentaremos la solicitud.\n    - Si volvemos a obtener un 401 | 403, nos daremos por vencidos.\n  - Server errors (5xx)\n  - Network errors (timeout, dns, etc)\n",
                                          "properties": {
                                            "status": {
                                              "type": "string",
                                              "enum": [
                                                "active",
                                                "inactive"
                                              ],
                                              "example": "active"
                                            },
                                            "url": {
                                              "type": "string",
                                              "example": "https://mi-compania.com/api/v1/auth-webhook"
                                            },
                                            "headersRequest": {
                                              "type": "object",
                                              "description": "Objeto con headers personalizados que serán enviados en el request a este auth-endpoint",
                                              "example": {
                                                "Authorization": "Bearer tokendeautenticacion"
                                              }
                                            },
                                            "body": {
                                              "type": "object",
                                              "description": "Objeto con información que será enviada en el body del request a este auth-endpoint",
                                              "example": {
                                                "status": "active"
                                              }
                                            },
                                            "headersResponse": {
                                              "type": "object",
                                              "description": "Configuración de los encabezados esperados en la respuesta del auth-endpoint.\nSe determinará qué encabezados serán utilizados para la solicitud al webhook principal\n",
                                              "properties": {
                                                "fields": {
                                                  "type": "array",
                                                  "description": "Lista de encabezados (headers) que se emplearán en la solicitud al webhook principal.\nEstos encabezados serán obtenidos de la respuesta de los encabezados del auth-endpoint\n",
                                                  "items": {
                                                    "type": "string"
                                                  },
                                                  "example": [
                                                    "jwt"
                                                  ]
                                                },
                                                "cache": {
                                                  "type": "object",
                                                  "description": "Objeto con información de cache para el auth-endpoint",
                                                  "properties": {
                                                    "status": {
                                                      "type": "string",
                                                      "enum": [
                                                        "active",
                                                        "inactive"
                                                      ]
                                                    },
                                                    "ttl": {
                                                      "type": "integer",
                                                      "description": "Tiempo de vida de los headers en `segundos`.\nAl especificar un valor, se almacenará en caché la respuesta del auth-endpoint por el tiempo especificado.\nPor lo tanto, no se volverá a invocar el auth-endpoint hasta que el tiempo de vida expire.\n",
                                                      "example": 3600
                                                    }
                                                  },
                                                  "required": [
                                                    "status",
                                                    "ttl"
                                                  ]
                                                }
                                              },
                                              "required": [
                                                "fields"
                                              ]
                                            }
                                          },
                                          "required": [
                                            "status",
                                            "url"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "url"
                                      ]
                                    },
                                    "cancellations": {
                                      "type": "object",
                                      "description": "Objeto con la información para el webhook que se dispara cuando finaliza el proceso de anulaciones",
                                      "properties": {
                                        "url": {
                                          "type": "string",
                                          "description": "Url a la cual notificará el webhook",
                                          "example": "https://mi-compania.com/api/v1/save-cancellation-info"
                                        },
                                        "headers": {
                                          "type": "object",
                                          "description": "Objeto con headers personalizados que serán enviados en el request al webhook configurado",
                                          "example": {
                                            "Authorization": "Bearer tokendeautenticacion"
                                          }
                                        },
                                        "status": {
                                          "type": "string",
                                          "enum": [
                                            "active",
                                            "inactive"
                                          ],
                                          "example": "active"
                                        }
                                      },
                                      "required": [
                                        "url"
                                      ]
                                    },
                                    "reception": {
                                      "type": "object",
                                      "description": "Objeto con la información para el webhook que se dispara cuando se recibe un documento o se genera una aprobación comercial",
                                      "properties": {
                                        "url": {
                                          "type": "string",
                                          "description": "Url a la cual notificará el webhook",
                                          "example": "https://mi-compania.com/api/v1/reception-event"
                                        },
                                        "headers": {
                                          "type": "object",
                                          "description": "Objeto con headers personalizados que serán enviados en el request al webhook configurado",
                                          "example": {
                                            "Authorization": "Bearer tokendeautenticacion"
                                          }
                                        },
                                        "status": {
                                          "type": "string",
                                          "enum": [
                                            "active",
                                            "inactive"
                                          ],
                                          "example": "active"
                                        }
                                      },
                                      "required": [
                                        "url"
                                      ]
                                    }
                                  }
                                }
                              }
                            },
                            "notificationByEmail": {
                              "type": "object",
                              "properties": {
                                "enabled": {
                                  "type": "boolean",
                                  "description": "Indica si la compañía tiene habilitada o no la notificación por mail hacia el receptor de un comprobante electrónico (cuando es aceptado por DGII). Por defecto, no se encuentra habilitada."
                                },
                                "message": {
                                  "type": "string",
                                  "maxLength": 300,
                                  "description": "Cuando la notificación por mail esté habilitada, se añadirá el mensaje configurado al final del correo enviado. No es obligatorio configurar mensaje extra alguno."
                                }
                              },
                              "required": [
                                "enabled"
                              ]
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Objeto que representa una respuesta de error por validaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Array que contiene N errores generados en el sistema",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Código de error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Mensajes de error"
                    }
                  },
                  "example": {
                    "message": [
                      "instance.identification is not of a type(s) string"
                    ],
                    "code": 400
                  }
                }
              }
            }
          },
          "404": {
            "description": "Objeto que representa una respuesta de error debido a que no se ha encontrado el recurso al que se intenta acceder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Array que contiene N errores generados en el sistema",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Código de error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Mensaje de error"
                    }
                  },
                  "example": {
                    "message": "No se ha encontrado el recurso",
                    "code": 404
                  }
                }
              }
            }
          },
          "500": {
            "description": "Objeto que representa una respuesta de error por qué ha ocurrido un error interno en el sistema",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Array que contiene N errores generados en el sistema",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Código de error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Mensaje de error"
                    }
                  },
                  "example": {
                    "message": "An unexpected error has occurred",
                    "code": "EPR500"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "get": {
        "summary": "Consultar la información de la empresa asociada al token",
        "description": "Retorna la información de la empresa asociada al token",
        "operationId": "getSelfCompany",
        "tags": [
          "Empresas"
        ],
        "responses": {
          "200": {
            "description": "Objeto que representa la respuesta que contiene la información de una empresa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "company": {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "01FVK1KD4581EF7CCK7TX55420"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Nombre/Razón social de la empresa",
                              "example": "Mi compañía"
                            },
                            "tradeName": {
                              "type": "string",
                              "description": "Nombre comercial",
                              "example": "Mi compañía S.A"
                            },
                            "identification": {
                              "type": "string",
                              "description": "Identificación de la empresa",
                              "example": 12345678,
                              "pattern": "^[0-9]{9}$|^[0-9]{11}$"
                            },
                            "type": {
                              "type": "string",
                              "description": "Tipo de empresa",
                              "enum": [
                                "main",
                                "associated"
                              ]
                            },
                            "address": {
                              "type": "string",
                              "description": "Dirección de la compañía",
                              "example": "30 De Marzo 9 Sd"
                            },
                            "province": {
                              "type": "string",
                              "description": "Provincia donde está situada la compañía",
                              "example": "Santo domingo"
                            },
                            "municipality": {
                              "type": "string",
                              "description": "Municipio donde está situada la compañía",
                              "example": "30 De Marzo 9 Sd"
                            },
                            "email": {
                              "type": "string",
                              "format": "email",
                              "maxLength": 80,
                              "description": "Correo electrónico de la compañía",
                              "example": "alanube@example.com"
                            },
                            "companyUrls": {
                              "type": "object",
                              "description": "Urls necesarias para el proceso de certificación y las cuales serán registradas en la DGII para la recepción de documentos",
                              "properties": {
                                "reception": {
                                  "type": "string",
                                  "description": "Url de reception",
                                  "example": "https://almost.alanube.co/dom/v1/01FVJ1528AQRBC7D6K2TGVE5S5"
                                },
                                "approval": {
                                  "type": "string",
                                  "description": "URL de aprobación comercial",
                                  "example": "https://almost.alanube.co/dom/v1/01FVJ1528AQRBC7D6K2TGVE5S5"
                                },
                                "authentication": {
                                  "type": "string",
                                  "description": "URL de autenticación",
                                  "example": "https://almost.alanube.co/dom/v1/01FVJ1528AQRBC7D6K2TGVE5S5"
                                }
                              }
                            },
                            "certificate": {
                              "type": "object",
                              "description": "Objeto que contiene la información del certificado en respuestas",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Nombre del archivo",
                                  "example": "certificado digital"
                                },
                                "extension": {
                                  "type": "string",
                                  "description": "Extensión del archivo",
                                  "example": "pfx"
                                },
                                "issuerName": {
                                  "type": "string",
                                  "description": "Información del proveedor del certificado",
                                  "example": "emailAddress = info@andesscd.com.co, CN = CA ANDES SCD S.A. Clase II, OU = Division de certificacion entidad final, O = Andes SCD.,"
                                },
                                "startDate": {
                                  "type": "string",
                                  "format": "date-time",
                                  "example": "2019-05-28 15:36:00"
                                },
                                "endDate": {
                                  "type": "string",
                                  "format": "date-time",
                                  "example": "2019-05-28 15:36:00"
                                }
                              }
                            },
                            "webhooks": {
                              "type": "object",
                              "description": "Objeto que contiene la información de los webhooks configurados para la empresa.\n\n### Notas\n\n- Para conocer de forma general como funcionan los webhooks puedes consultar la documentación en el siguiente [enlace](https://dash.readme.com/project/e-api-a-la-nube-dom/v1.0-DOM/docs/webhooks)\n- Estaremos enviando un POST request al webhook proporcionado por ustedes con el fin de verificar su funcionamiento. El body que pasaremos a su endpoint será: `{message: 'Test message'}`. En caso de detectar errores HTTP o de red, se lo comunicaremos en nuestra respuesta HTTP\n- Si aún no dispones de un webhook, puedes omitir esta configuración inicialmente y continuar con la creación de tu compañía.\n  - La configuración de webhook se puede completar o modificar más adelante actualizando los detalles de tu compañía.\n",
                              "properties": {
                                "general": {
                                  "type": "object",
                                  "description": "Objeto con información de webhooks generales",
                                  "properties": {
                                    "governmentStatusChanged": {
                                      "type": "object",
                                      "description": "Objeto con la información para el webhook que se dispara cuando cambia el estado de la compañía ante la DGII",
                                      "properties": {
                                        "url": {
                                          "type": "string",
                                          "description": "Url a la cual notificará el webhook",
                                          "example": "https://mi-compania.com/api/v1/update-company"
                                        },
                                        "headers": {
                                          "type": "object",
                                          "description": "Objeto con headers personalizados que serán enviados en el request al webhook configurado",
                                          "example": {
                                            "Authorization": "Bearer tokendeautenticacion"
                                          }
                                        },
                                        "status": {
                                          "type": "string",
                                          "enum": [
                                            "active",
                                            "inactive"
                                          ],
                                          "example": "active"
                                        }
                                      }
                                    }
                                  }
                                },
                                "documents": {
                                  "type": "object",
                                  "description": "Objeto con información de webhooks relacionado con documentos",
                                  "properties": {
                                    "emissionFinished": {
                                      "type": "object",
                                      "description": "Objeto con la información para el webhook que se dispara cuando finaliza el proceso de un documento electrónica",
                                      "properties": {
                                        "url": {
                                          "type": "string",
                                          "description": "Url a la cual notificará el webhook",
                                          "example": "https://mi-compania.com/api/v1/update-document"
                                        },
                                        "headers": {
                                          "type": "object",
                                          "description": "Objeto con headers personalizados que serán enviados en el request al webhook configurado",
                                          "example": {
                                            "Authorization": "Bearer tokendeautenticacion"
                                          }
                                        },
                                        "status": {
                                          "type": "string",
                                          "enum": [
                                            "active",
                                            "inactive"
                                          ],
                                          "example": "active"
                                        },
                                        "auth": {
                                          "type": "object",
                                          "description": "Mecanismo para solicitar headers de configuración antes de enviar datos al webhook principal.\n\n### Caso de uso\n\nSu webhook principal necesita de un token de autenticación para poder ser invocado y este mismo solamente puede ser obtenido a traves de este endpoint de autenticación.\n\n### Notas\n\n- Se debe proveer todos los detalles necesarios para la correcta invocación, como propiedades para el body (POST), headers requeridos, etc.\n- Nosotros intentaremos un reenvío a sus webhooks si obtenemos alguna de los siguientes estados de respuesta del mismo:\n  - Unauthorized errors (401 & 403)\n    - (IMPORTANTE) Este solo aplica para el endpoint principal en caso de tener un auth-endpoint configurado.\n    - Refrescaremos el token desde el endpoint de autenticación y reintentaremos la solicitud.\n    - Si volvemos a obtener un 401 | 403, nos daremos por vencidos.\n  - Server errors (5xx)\n  - Network errors (timeout, dns, etc)\n",
                                          "properties": {
                                            "status": {
                                              "type": "string",
                                              "enum": [
                                                "active",
                                                "inactive"
                                              ],
                                              "example": "active"
                                            },
                                            "url": {
                                              "type": "string",
                                              "example": "https://mi-compania.com/api/v1/auth-webhook"
                                            },
                                            "headersRequest": {
                                              "type": "object",
                                              "description": "Objeto con headers personalizados que serán enviados en el request a este auth-endpoint",
                                              "example": {
                                                "Authorization": "Bearer tokendeautenticacion"
                                              }
                                            },
                                            "body": {
                                              "type": "object",
                                              "description": "Objeto con información que será enviada en el body del request a este auth-endpoint",
                                              "example": {
                                                "status": "active"
                                              }
                                            },
                                            "headersResponse": {
                                              "type": "object",
                                              "description": "Configuración de los encabezados esperados en la respuesta del auth-endpoint.\nSe determinará qué encabezados serán utilizados para la solicitud al webhook principal\n",
                                              "properties": {
                                                "fields": {
                                                  "type": "array",
                                                  "description": "Lista de encabezados (headers) que se emplearán en la solicitud al webhook principal.\nEstos encabezados serán obtenidos de la respuesta de los encabezados del auth-endpoint\n",
                                                  "items": {
                                                    "type": "string"
                                                  },
                                                  "example": [
                                                    "jwt"
                                                  ]
                                                },
                                                "cache": {
                                                  "type": "object",
                                                  "description": "Objeto con información de cache para el auth-endpoint",
                                                  "properties": {
                                                    "status": {
                                                      "type": "string",
                                                      "enum": [
                                                        "active",
                                                        "inactive"
                                                      ]
                                                    },
                                                    "ttl": {
                                                      "type": "integer",
                                                      "description": "Tiempo de vida de los headers en `segundos`.\nAl especificar un valor, se almacenará en caché la respuesta del auth-endpoint por el tiempo especificado.\nPor lo tanto, no se volverá a invocar el auth-endpoint hasta que el tiempo de vida expire.\n",
                                                      "example": 3600
                                                    }
                                                  },
                                                  "required": [
                                                    "status",
                                                    "ttl"
                                                  ]
                                                }
                                              },
                                              "required": [
                                                "fields"
                                              ]
                                            }
                                          },
                                          "required": [
                                            "status",
                                            "url"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "url"
                                      ]
                                    },
                                    "cancellations": {
                                      "type": "object",
                                      "description": "Objeto con la información para el webhook que se dispara cuando finaliza el proceso de anulaciones",
                                      "properties": {
                                        "url": {
                                          "type": "string",
                                          "description": "Url a la cual notificará el webhook",
                                          "example": "https://mi-compania.com/api/v1/save-cancellation-info"
                                        },
                                        "headers": {
                                          "type": "object",
                                          "description": "Objeto con headers personalizados que serán enviados en el request al webhook configurado",
                                          "example": {
                                            "Authorization": "Bearer tokendeautenticacion"
                                          }
                                        },
                                        "status": {
                                          "type": "string",
                                          "enum": [
                                            "active",
                                            "inactive"
                                          ],
                                          "example": "active"
                                        }
                                      },
                                      "required": [
                                        "url"
                                      ]
                                    },
                                    "reception": {
                                      "type": "object",
                                      "description": "Objeto con la información para el webhook que se dispara cuando se recibe un documento o se genera una aprobación comercial",
                                      "properties": {
                                        "url": {
                                          "type": "string",
                                          "description": "Url a la cual notificará el webhook",
                                          "example": "https://mi-compania.com/api/v1/reception-event"
                                        },
                                        "headers": {
                                          "type": "object",
                                          "description": "Objeto con headers personalizados que serán enviados en el request al webhook configurado",
                                          "example": {
                                            "Authorization": "Bearer tokendeautenticacion"
                                          }
                                        },
                                        "status": {
                                          "type": "string",
                                          "enum": [
                                            "active",
                                            "inactive"
                                          ],
                                          "example": "active"
                                        }
                                      },
                                      "required": [
                                        "url"
                                      ]
                                    }
                                  }
                                }
                              }
                            },
                            "notificationByEmail": {
                              "type": "object",
                              "properties": {
                                "enabled": {
                                  "type": "boolean",
                                  "description": "Indica si la compañía tiene habilitada o no la notificación por mail hacia el receptor de un comprobante electrónico (cuando es aceptado por DGII). Por defecto, no se encuentra habilitada."
                                },
                                "message": {
                                  "type": "string",
                                  "maxLength": 300,
                                  "description": "Cuando la notificación por mail esté habilitada, se añadirá el mensaje configurado al final del correo enviado. No es obligatorio configurar mensaje extra alguno."
                                }
                              },
                              "required": [
                                "enabled"
                              ]
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Objeto que representa una respuesta de error por validaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Array que contiene N errores generados en el sistema",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Código de error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Mensajes de error"
                    }
                  },
                  "example": {
                    "message": [
                      "instance.identification is not of a type(s) string"
                    ],
                    "code": 400
                  }
                }
              }
            }
          },
          "404": {
            "description": "Objeto que representa una respuesta de error debido a que no se ha encontrado el recurso al que se intenta acceder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Array que contiene N errores generados en el sistema",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Código de error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Mensaje de error"
                    }
                  },
                  "example": {
                    "message": "No se ha encontrado el recurso",
                    "code": 404
                  }
                }
              }
            }
          },
          "500": {
            "description": "Objeto que representa una respuesta de error por qué ha ocurrido un error interno en el sistema",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Array que contiene N errores generados en el sistema",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Código de error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Mensaje de error"
                    }
                  },
                  "example": {
                    "message": "An unexpected error has occurred",
                    "code": "EPR500"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "patch": {
        "summary": "Actualizar la información de una empresa asociada al token",
        "description": "Este endpoint permite actualizar la información de la empresa asociada al token, ten en cuenta que únicamente se actualizará la información enviada y por lo tanto no es necesario enviar toda la información de la empresa",
        "operationId": "updateSelfCompany",
        "tags": [
          "Empresas"
        ],
        "requestBody": {
          "description": "Objeto JSON con la información de la empresa que se desea actualizar",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nombre/Razón social de la empresa",
                    "example": "Mi compañía"
                  },
                  "tradeName": {
                    "type": "string",
                    "description": "Nombre comercial",
                    "example": "Mi compañía S.A"
                  },
                  "identification": {
                    "type": "string",
                    "description": "Identificación de la empresa",
                    "example": "12345678",
                    "pattern": "^[0-9]{9}$|^[0-9]{11}$"
                  },
                  "address": {
                    "type": "string",
                    "description": "Dirección de la compañía",
                    "maxLength": 100,
                    "example": "30 De Marzo 9 Sd"
                  },
                  "province": {
                    "type": "string",
                    "description": "Provincia donde está situada la compañía",
                    "example": "Santo domingo"
                  },
                  "municipality": {
                    "type": "string",
                    "description": "Municipio donde está situada la compañía",
                    "example": "30 De Marzo 9 Sd"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 80,
                    "description": "Correo electrónico de la compañía",
                    "example": "alanube@example.com"
                  },
                  "certificate": {
                    "type": "object",
                    "description": "Objeto que contiene la información del certificado",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nombre del archivo",
                        "example": "certificado digital"
                      },
                      "extension": {
                        "type": "string",
                        "description": "Extensión del archivo",
                        "example": "pfx"
                      },
                      "content": {
                        "type": "string",
                        "format": "byte",
                        "description": "Archivo de certificado en base 64",
                        "example": "MIIdAgIBAzCCHMgGCSqGSIb3DQEHAaCCHLkEghy1.....A="
                      },
                      "password": {
                        "type": "string",
                        "description": "Contraseña del certificado",
                        "example": "sEcR3T"
                      }
                    },
                    "required": [
                      "name",
                      "extension",
                      "content",
                      "password",
                      "address",
                      "municipality",
                      "province"
                    ]
                  },
                  "webhooks": {
                    "type": "object",
                    "description": "Objeto que contiene la información de los webhooks configurados para la empresa.\n\n### Notas\n\n- Para conocer de forma general como funcionan los webhooks puedes consultar la documentación en el siguiente [enlace](https://dash.readme.com/project/e-api-a-la-nube-dom/v1.0-DOM/docs/webhooks)\n- Estaremos enviando un POST request al webhook proporcionado por ustedes con el fin de verificar su funcionamiento. El body que pasaremos a su endpoint será: `{message: 'Test message'}`. En caso de detectar errores HTTP o de red, se lo comunicaremos en nuestra respuesta HTTP\n- Si aún no dispones de un webhook, puedes omitir esta configuración inicialmente y continuar con la creación de tu compañía.\n  - La configuración de webhook se puede completar o modificar más adelante actualizando los detalles de tu compañía.\n",
                    "properties": {
                      "general": {
                        "type": "object",
                        "description": "Objeto con información de webhooks generales",
                        "properties": {
                          "governmentStatusChanged": {
                            "type": "object",
                            "description": "Objeto con la información para el webhook que se dispara cuando cambia el estado de la compañía ante la DGII",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "Url a la cual notificará el webhook",
                                "example": "https://mi-compania.com/api/v1/update-company"
                              },
                              "headers": {
                                "type": "object",
                                "description": "Objeto con headers personalizados que serán enviados en el request al webhook configurado",
                                "example": {
                                  "Authorization": "Bearer tokendeautenticacion"
                                }
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "active",
                                  "inactive"
                                ],
                                "example": "active"
                              }
                            }
                          }
                        }
                      },
                      "documents": {
                        "type": "object",
                        "description": "Objeto con información de webhooks relacionado con documentos",
                        "properties": {
                          "emissionFinished": {
                            "type": "object",
                            "description": "Objeto con la información para el webhook que se dispara cuando finaliza el proceso de un documento electrónica",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "Url a la cual notificará el webhook",
                                "example": "https://mi-compania.com/api/v1/update-document"
                              },
                              "headers": {
                                "type": "object",
                                "description": "Objeto con headers personalizados que serán enviados en el request al webhook configurado",
                                "example": {
                                  "Authorization": "Bearer tokendeautenticacion"
                                }
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "active",
                                  "inactive"
                                ],
                                "example": "active"
                              },
                              "auth": {
                                "type": "object",
                                "description": "Mecanismo para solicitar headers de configuración antes de enviar datos al webhook principal.\n\n### Caso de uso\n\nSu webhook principal necesita de un token de autenticación para poder ser invocado y este mismo solamente puede ser obtenido a traves de este endpoint de autenticación.\n\n### Notas\n\n- Se debe proveer todos los detalles necesarios para la correcta invocación, como propiedades para el body (POST), headers requeridos, etc.\n- Nosotros intentaremos un reenvío a sus webhooks si obtenemos alguna de los siguientes estados de respuesta del mismo:\n  - Unauthorized errors (401 & 403)\n    - (IMPORTANTE) Este solo aplica para el endpoint principal en caso de tener un auth-endpoint configurado.\n    - Refrescaremos el token desde el endpoint de autenticación y reintentaremos la solicitud.\n    - Si volvemos a obtener un 401 | 403, nos daremos por vencidos.\n  - Server errors (5xx)\n  - Network errors (timeout, dns, etc)\n",
                                "properties": {
                                  "status": {
                                    "type": "string",
                                    "enum": [
                                      "active",
                                      "inactive"
                                    ],
                                    "example": "active"
                                  },
                                  "url": {
                                    "type": "string",
                                    "example": "https://mi-compania.com/api/v1/auth-webhook"
                                  },
                                  "headersRequest": {
                                    "type": "object",
                                    "description": "Objeto con headers personalizados que serán enviados en el request a este auth-endpoint",
                                    "example": {
                                      "Authorization": "Bearer tokendeautenticacion"
                                    }
                                  },
                                  "body": {
                                    "type": "object",
                                    "description": "Objeto con información que será enviada en el body del request a este auth-endpoint",
                                    "example": {
                                      "status": "active"
                                    }
                                  },
                                  "headersResponse": {
                                    "type": "object",
                                    "description": "Configuración de los encabezados esperados en la respuesta del auth-endpoint.\nSe determinará qué encabezados serán utilizados para la solicitud al webhook principal\n",
                                    "properties": {
                                      "fields": {
                                        "type": "array",
                                        "description": "Lista de encabezados (headers) que se emplearán en la solicitud al webhook principal.\nEstos encabezados serán obtenidos de la respuesta de los encabezados del auth-endpoint\n",
                                        "items": {
                                          "type": "string"
                                        },
                                        "example": [
                                          "jwt"
                                        ]
                                      },
                                      "cache": {
                                        "type": "object",
                                        "description": "Objeto con información de cache para el auth-endpoint",
                                        "properties": {
                                          "status": {
                                            "type": "string",
                                            "enum": [
                                              "active",
                                              "inactive"
                                            ]
                                          },
                                          "ttl": {
                                            "type": "integer",
                                            "description": "Tiempo de vida de los headers en `segundos`.\nAl especificar un valor, se almacenará en caché la respuesta del auth-endpoint por el tiempo especificado.\nPor lo tanto, no se volverá a invocar el auth-endpoint hasta que el tiempo de vida expire.\n",
                                            "example": 3600
                                          }
                                        },
                                        "required": [
                                          "status",
                                          "ttl"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "fields"
                                    ]
                                  }
                                },
                                "required": [
                                  "status",
                                  "url"
                                ]
                              }
                            },
                            "required": [
                              "url"
                            ]
                          },
                          "cancellations": {
                            "type": "object",
                            "description": "Objeto con la información para el webhook que se dispara cuando finaliza el proceso de anulaciones",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "Url a la cual notificará el webhook",
                                "example": "https://mi-compania.com/api/v1/save-cancellation-info"
                              },
                              "headers": {
                                "type": "object",
                                "description": "Objeto con headers personalizados que serán enviados en el request al webhook configurado",
                                "example": {
                                  "Authorization": "Bearer tokendeautenticacion"
                                }
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "active",
                                  "inactive"
                                ],
                                "example": "active"
                              }
                            },
                            "required": [
                              "url"
                            ]
                          },
                          "reception": {
                            "type": "object",
                            "description": "Objeto con la información para el webhook que se dispara cuando se recibe un documento o se genera una aprobación comercial",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "Url a la cual notificará el webhook",
                                "example": "https://mi-compania.com/api/v1/reception-event"
                              },
                              "headers": {
                                "type": "object",
                                "description": "Objeto con headers personalizados que serán enviados en el request al webhook configurado",
                                "example": {
                                  "Authorization": "Bearer tokendeautenticacion"
                                }
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "active",
                                  "inactive"
                                ],
                                "example": "active"
                              }
                            },
                            "required": [
                              "url"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "notificationByEmail": {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "description": "Indica si la compañía tiene habilitada o no la notificación por mail hacia el receptor de un comprobante electrónico (cuando es aceptado por DGII). Por defecto, no se encuentra habilitada."
                      },
                      "message": {
                        "type": "string",
                        "maxLength": 300,
                        "description": "Cuando la notificación por mail esté habilitada, se añadirá el mensaje configurado al final del correo enviado. No es obligatorio configurar mensaje extra alguno."
                      }
                    },
                    "required": [
                      "enabled"
                    ]
                  },
                  "logo": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Imagen del logo en `base64` a incluir en todos los documentos PDF.\nConsideraciones:\n- El tamaño máximo de la imagen es de 150 KB.\n- Si un documento es creado con un logo, este siempre mostrará ese logo. Si el logo es actualizado posteriormente, los documentos creados anteriormente no serán actualizados para mostrar el nuevo logo. Por lo tanto, se recomienda crear documentos con un logo solo después de haber cargado y establecido el logo final.\n"
                  }
                }
              },
              "examples": {
                "company": {
                  "summary": "Ejemplo de actualización del certificado de una empresa",
                  "value": {
                    "certificate": {
                      "name": "certificado digital 2",
                      "extension": "pfx",
                      "content": "MIIdAgIBAzCCHMgGCSqGSIb3DQEHAaCCHLkEghy1.....A=",
                      "password": "S3creT2"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Objeto que representa la respuesta que contiene la información de una empresa actualizada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "company": {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "01FVK1KD4581EF7CCK7TX55420"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Nombre/Razón social de la empresa",
                              "example": "Mi compañía"
                            },
                            "tradeName": {
                              "type": "string",
                              "description": "Nombre comercial",
                              "example": "Mi compañía S.A"
                            },
                            "identification": {
                              "type": "string",
                              "description": "Identificación de la empresa",
                              "example": 12345678,
                              "pattern": "^[0-9]{9}$|^[0-9]{11}$"
                            },
                            "type": {
                              "type": "string",
                              "description": "Tipo de empresa",
                              "enum": [
                                "main",
                                "associated"
                              ]
                            },
                            "address": {
                              "type": "string",
                              "description": "Dirección de la compañía",
                              "example": "30 De Marzo 9 Sd"
                            },
                            "province": {
                              "type": "string",
                              "description": "Provincia donde está situada la compañía",
                              "example": "Santo domingo"
                            },
                            "municipality": {
                              "type": "string",
                              "description": "Municipio donde está situada la compañía",
                              "example": "30 De Marzo 9 Sd"
                            },
                            "email": {
                              "type": "string",
                              "format": "email",
                              "maxLength": 80,
                              "description": "Correo electrónico de la compañía",
                              "example": "alanube@example.com"
                            },
                            "companyUrls": {
                              "type": "object",
                              "description": "Urls necesarias para el proceso de certificación y las cuales serán registradas en la DGII para la recepción de documentos",
                              "properties": {
                                "reception": {
                                  "type": "string",
                                  "description": "Url de reception",
                                  "example": "https://almost.alanube.co/dom/v1/01FVJ1528AQRBC7D6K2TGVE5S5"
                                },
                                "approval": {
                                  "type": "string",
                                  "description": "URL de aprobación comercial",
                                  "example": "https://almost.alanube.co/dom/v1/01FVJ1528AQRBC7D6K2TGVE5S5"
                                },
                                "authentication": {
                                  "type": "string",
                                  "description": "URL de autenticación",
                                  "example": "https://almost.alanube.co/dom/v1/01FVJ1528AQRBC7D6K2TGVE5S5"
                                }
                              }
                            },
                            "certificate": {
                              "type": "object",
                              "description": "Objeto que contiene la información del certificado en respuestas",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Nombre del archivo",
                                  "example": "certificado digital"
                                },
                                "extension": {
                                  "type": "string",
                                  "description": "Extensión del archivo",
                                  "example": "pfx"
                                },
                                "issuerName": {
                                  "type": "string",
                                  "description": "Información del proveedor del certificado",
                                  "example": "emailAddress = info@andesscd.com.co, CN = CA ANDES SCD S.A. Clase II, OU = Division de certificacion entidad final, O = Andes SCD.,"
                                },
                                "startDate": {
                                  "type": "string",
                                  "format": "date-time",
                                  "example": "2019-05-28 15:36:00"
                                },
                                "endDate": {
                                  "type": "string",
                                  "format": "date-time",
                                  "example": "2019-05-28 15:36:00"
                                }
                              }
                            },
                            "webhooks": {
                              "type": "object",
                              "description": "Objeto que contiene la información de los webhooks configurados para la empresa.\n\n### Notas\n\n- Para conocer de forma general como funcionan los webhooks puedes consultar la documentación en el siguiente [enlace](https://dash.readme.com/project/e-api-a-la-nube-dom/v1.0-DOM/docs/webhooks)\n- Estaremos enviando un POST request al webhook proporcionado por ustedes con el fin de verificar su funcionamiento. El body que pasaremos a su endpoint será: `{message: 'Test message'}`. En caso de detectar errores HTTP o de red, se lo comunicaremos en nuestra respuesta HTTP\n- Si aún no dispones de un webhook, puedes omitir esta configuración inicialmente y continuar con la creación de tu compañía.\n  - La configuración de webhook se puede completar o modificar más adelante actualizando los detalles de tu compañía.\n",
                              "properties": {
                                "general": {
                                  "type": "object",
                                  "description": "Objeto con información de webhooks generales",
                                  "properties": {
                                    "governmentStatusChanged": {
                                      "type": "object",
[...]
